<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar">
        <ul class="nav navbar-inverse">
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
<div>
    <footer class="container-fluid bg-4 text-center"> <p>&copy; 2017 Brought to you by Devonte Holmes Enterprises </p>
    </footer>
</div>
</body>



</html>
