@model Universityty.Models.Normal

@{
    ViewBag.Title = "ShowStudentSchedule";
}

<h2>Schedule</h2>

<h3> Schedule for Username: @Html.DisplayFor(x => x.Email)</h3>
<p>Welcome Back, </p> <div> @Html.DisplayFor(x => x.fName) @Html.DisplayFor(x => x.lName) </div>

<br/>
<div> 
    @Html.Action("PartialSchedule")
</div>